body {
  width: 600px;
  height: 800px;
}

p {
  color: red;
  text-align: center;
  font-size: 300%;
}

img {
  max-width: 80%;
}

.tits {
  vertical-align: middle;
  text-align: center;
}
