body {
  width: 800px;
  height: 600px;
}

p {
  color: red;
  text-align: center;
  font-size: 300%;
}

img {
  max-width: 80%;
}

.tits {
  vertical-align: middle;
  text-align: center;
}

iframe {
  display: none;
}

.audio {
  visibility: hidden;
}

#mf_cookies {
  font-size: .5rem;
}
